 <ion-toolbar mode="ios">
  <ion-buttons slot="start">
    <ion-back-button text="Volver" default-href="/vivienda"></ion-back-button>
  </ion-buttons>
  <!-- <ion-title>Viviendas</ion-title> -->
</ion-toolbar>
<ion-content>
  <ion-card mode="ios">
    <form [formGroup]="formData">
      <ion-list mode="ios" style="display: flex; flex-direction: column;">
        <ion-item>
          <ion-input label="Propietario" formControlName="propietario" placeholder="Nombre del propietario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input fill="solid" formControlName="direccion" label="Dirección" placeholder="Dirección de propiedad"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input fill="solid" label="Manzana" formControlName="manzana" placeholder="Ejemplo: m2 'A'"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input fill="solid" label="Lote" placeholder="Ejemplo: Lt 05" formControlName="lote"></ion-input>
        </ion-item>
        <ion-item style="width: 50%; margin-left: auto;">
          <ion-select mode="ios" formControlName="idGrupoVivienda">
            <ion-select-option *ngFor="let zona of lstZonas" [value]="zona.id">{{zona.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="guardarDatos()">Guardar</ion-button>
      </ion-list>
    </form>
  </ion-card>
</ion-content>
