<ion-toolbar mode="ios">
  <ion-buttons slot="start">
    <ion-back-button text="Volver" default-href="#"></ion-back-button>
  </ion-buttons>
  <!-- <ion-title>Viviendas</ion-title> -->
</ion-toolbar>
<ion-content>
  <ion-card mode="ios">
    <p>1 de 30</p>
    <ion-list mode="ios" style="display: flex; flex-direction: column;">
      <ion-item>
        <ion-input label="Propietario" value="Douglas Ivan Gomez" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-input fill="solid" label="Dirección" value="Calvo de araujo 1721" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-input fill="solid" label="Grupo" value="Zona 1" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-input fill="solid" label="Lectura anterior" value="105" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-input fill="solid" label="Lectura actual" placeholder="Ingrese su lectura actual"></ion-input>
      </ion-item>
      <ion-button>Continuar</ion-button>
    </ion-list>
  </ion-card>
</ion-content>
